<div id="home">
  <section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns" id="login">
          <div class="column is-half" id="wel">
            <h1 class="title">
              Welcome to Budget Buddy!
            </h1>
            <h2 class="subtitle" id="sub">
              Track your expenses, make every penny count.
            </h2>
          </div>
          <div class="column" id="input">
            <div class="field">
              <div class="control">
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-primary" type="email" placeholder="Username/Email" id="uemail">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope" id="enve"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <p class="control has-icons-left">
                  <input class="input is-primary" type="password" placeholder="Password" id="upassword">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock" id="lock"></i>
                  </span>
                </p>
              </div>
            </div>
            <div class="buttons are-medium">
              <span class="button is-info is-inverted" id="auth">Login!</span>
              <span class="button is-danger" id="noauth">Continue without login</span>
            </div>
            <div class="card is-hidden" id="namereq">
              <div class="card-content has-text-dark">
                <p class="title has-text-dark">
                  Well, we need to call you something
                </p>
                <p class="subtitle has-text-dark">
                  What do we call you?
                </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <input class="input is-warning" type="text" placeholder="Put desired name here">
                </p>
                <p class="card-footer-item">
                  <span class="button is-success is-outlined is-fullwidth" id="go">GO</a>
                  </span>
                </p>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>