<div id="home">
  <section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns" id="login">
          <div class="column is-half" id="wel">
            <h1 class="title">
              Welcome to Budget Buddy!
            </h1>
            <h2 class="subtitle" id="sub">
              Track your expenses, make every penny count.
            </h2>
          </div>
          <div class="column" id="input">
            <div class="field">
              <div class="control">
                <p class="control has-icons-left has-icons-right">
                  <input class="input is-primary" type="text" placeholder="Username" id="uname">
                 
                </p>
              </div>
            </div>
            
            <div class="buttons are-medium">
              <span class="button is-info is-inverted" id="auth">Login!</span>
              <span class="button is-success is-inverted" id="new">New user?</span>
            </div>
            <div class="modal" id="newusername">
            <div class="modal-card">
            
              <div class="card-content has-text-dark">
            <section class="modal-card-body">
              <h2 is-title> Choose a username:</h2>
              <input class="input is-primary uname" type="text" placeholder="Username">
          
            <h2 is-title>Whats your monthly income?</h2>
            <input class="input is-primary" id="newuinco" type="number" placeholder="1,700">
          </section>

           <footer class="modal-card-foot">
             <button class="button is-success" type="submit" id="go">GO!</button>
             <button class="button is-danger" id="close">Cancel</button>
           </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>

  